.about
	text-align: center
	margin-top: 60px
	padding: 20px

	@media (max-width: 768px)
		margin-top: 30px
		padding: 10px

	@media (max-width: 480px)
		margin-top: 20px
		padding: 5px

.about__wrapper

	h2
		font-size: 30px
		font-weight: 700
		margin-bottom: 20px

		@media (max-width: 768px)
			font-size: 24px

		@media (max-width: 480px)
			font-size: 18px

	p
		font-size: 17px
		line-height: 30px
		margin-top: 20px

		@media (max-width: 768px)
			font-size: 14px
			line-height: 25px

		@media (max-width: 480px)
			font-size: 12px
			line-height: 20px
