.button
  padding: 10px 30px
  font-weight: 700
  font-size: 14px
  line-height: 22px
  text-align: center
  border-radius: 20px 20px 20px 0
  background-color: #2A2E33
  color: #ffffff
  transition: 0.3s ease-in

  &:hover
    background-color: #151617
    border-radius: 20px

  @media (max-width: 768px)
    padding: 10px 30px !important
    font-size: 14px !important

  @media (max-width: 480px)
