.feedback_form
  display: flex
  flex-direction: column
  align-items: center
  background-color: #f9f9f9
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1)
  padding: 2.5rem
  max-width: 43.75rem
  margin: 3.75rem auto 0 auto
  border-radius: 0.625rem

  @media (max-width: 768px)
    padding: 1.25rem
    margin: 1.875rem auto 0 auto

.container
  width: 100%

.form__title
  text-align: center
  margin-bottom: 1.25rem

  h2
    font-size: 2rem
    margin-bottom: 0.625rem
    @media (max-width: 768px)
      font-size: 1.5rem

  p
    color: #7c7c7c
    font-weight: 300
    line-height: 1.7rem
    @media (max-width: 768px)
      font-size: 1rem

.form
  display: flex
  flex-direction: column
  gap: 1rem
  background-color: #fff
  padding: 2.5rem
  box-shadow: 0 0 0.375rem rgba(0, 0, 0, 0.09)
  border-radius: 0.625rem
  @media (max-width: 768px)
    padding: 1.25rem

.field
  display: flex
  flex-direction: column
  gap: 0.25rem
  width: 100%

  label
    font-weight: 500
    color: #333

  input, textarea
    width: 100%
    padding: 0.75rem
    border: 0.0625rem solid #ccc
    border-radius: 0.3125rem
    font-size: 1rem
    background-color: #fff
    transition: border-color 0.3s ease, box-shadow 0.3s ease

    &:focus
      border-color: #007bff
      box-shadow: 0 0 0.3125rem rgba(0, 123, 255, 0.5)
      outline: none

    &:hover
      border-color: #0056b3

  textarea
    resize: vertical
    min-height: 6.25rem

.error
  color: red
  font-size: 0.875rem
