.hero
	padding: 100px 0
	background: url("../../assets/2011.i211.020..pyrotechnics-fireworks-realistic-background-min.webp") no-repeat center center fixed
	background-size: cover
	color: white
	text-align: center

	&__title
		font-size: 20px
		font-weight: 700

		h3
			border-bottom: 5px solid #ed6a5a
			padding-block: 13px
			display: inline-block

		h1
			font-size: 60px
			margin-top: 30px

	&__subtitle
		font-size: 1.5rem
		margin-top: 40px

	.button_group
		margin-top: 40px
		display: flex
		align-items: center
		justify-content: center
		font-size: 14px

		button
			padding: 12px 60px
			background-color: #171718
			color: #E5E8EE
			font-weight: 700

.divider
	height: 60px
	width: 2px
	background-color: #E5E8EE
	margin: 0 30px
