.work_item
  display: flex
  flex-direction: column
  width: 340px
  height: 300px
  background-color: #fff
  border-radius: 5px
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px
  transition: all 0.2s ease-in-out
  margin: 10px /* Optional spacing between cards */

  &:hover
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)

.img__container
  position: relative
  overflow: hidden
  height: 180px /* Adjust image height as needed */

  img
    width: 100%
    height: 100%
    object-fit: cover
    transition: transform 0.2s ease-in-out

  .img__overlay
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, transparent 80%) /* Semi-transparent gradient */
    display: flex
    justify-content: center
    align-items: flex-end
    opacity: 0 /* Initially hidden */
    transition: opacity 0.2s ease-in-out

    .work_item: hover &
      opacity: 1 /* Overlay appears on hover */

.item__text
  padding: 15px /* Adjust padding as needed */
  text-align: center
  display: flex
  flex-direction: column
  gap: 10px

  h3
    font-size: 20px
    font-weight: 600
    color: #333
    min-height: 48px
    @media (max-width: 768px)  /* Adjust breakpoint for responsive text size */
      font-size: 18px

      font-weight: 700
      margin-bottom: 5px
      color: #222 /* Darker text for better readability */
      transition: color 0.2s ease-in-out

  .work_item
    &:hover
      color: #007bff /* Text color change on hover */

  p
    font-size: 14px
    color: rgba(18, 13, 24, 0.7) !important
    font-weight: 700
    text-transform: uppercase
