.info
	position: absolute
	top: 10px
	left: 10px
	padding: 35px
	background-color: #171718
	color: #E5E8EE

	h5
		font-size: 20px
		text-transform: uppercase
		font-weight: 700
		margin-bottom: 10px

.info__wrapper
	display: flex
	flex-direction: column
	gap: 30px

	a
		color: #E5E8EE

.info__item
	display: flex
	align-items: center
	gap: 5px
	font-size: 14px
