.coalProducts
  margin-top: 2.5rem

.coalProducts__header
  font-weight: 700
  font-size: 1.875rem

.coalProduct
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  margin-top: 2.5rem

  &__image
    max-width: 32.5rem
    img
      max-height: 20rem
      border-radius: 0.625rem

  &__details
    max-width: 35rem
    display: flex
    flex-direction: column
    gap: 1.25rem

  &__title
    font-size: 1.375rem
    font-weight: 700

  &__description
    display: flex
    flex-direction: column
    gap: 0.625rem
    font-size: 1rem
    line-height: 1.5625rem

.reverseOrder
  flex-direction: row-reverse

@media (max-width: 768px)
  .coalProduct
    flex-direction: column

  .reverseOrder
    flex-direction: column
